<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from htmldemo.net/furbar-1/furbar/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 16:16:17 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Furbar - Furniture eCommerce Bootstrap 5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png" />

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/plugins/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="assets/css/plugins/font-awesome.min.css" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/odometer.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/ion.rangeSlider.min.css" />

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
    <link rel="stylesheet" href="assets/css/style.min.css" />
        <link rel="stylesheet" href="assets/css/style.min.css" /><link href="assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />

    <style>
    /* Style for the "Edit Address" button */
    .edit-btn {
        display: inline-block;
        background-color: #637763;
        color: white;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .edit-btn:hover {
        background-color: #4c544d;
    }
    
    /* Adjust the icon size */
    .edit-btn i {
        margin-right: 5px;
    }
    
    /* Style for the radio button container */
    .address-option {
        position: relative;
        border: 1px solid #ddd;
        width:350px;
        padding: 10px;
        margin-bottom: 15px;
    }
    
    /* Style for the radio button */
    .address-option input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
    }
    
    /* Style for the radio button label */
    .address-option label {
        cursor: pointer;
        padding-left: 30px;
        vertical-align: middle; /* Align text vertically with the radio button */
    }
    
    /* Custom radio button styles */
    .address-option input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #ccc;
        border-radius: 50%;
        outline: none;
    }
    
    .address-option input[type="radio"]:checked {
        background-color: #007bff;
        border-color: #007bff;
    }
    
    /* Style for the edit button */
    .address-option .edit-btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }
</style>    
</head>


<body>
    <div class="header-area header-sticky d-none d-lg-block">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <!-- Header Logo Start -->
                    <div class="header-logo">
                        <a href="index.html"><img src="assets/images/logo.png" width="154" height="46" alt="Logo" /></a>
                    </div>
                    <!-- Header Logo End -->
                </div>
                <div class="col-lg-6">
                    <div class="header-menu">
                        <ul class="nav-menu">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li><a href="/loadShop">Shop</a></li>
                            <li>
                                <a href="#">Products</a>
                            </li>
                            <li>
                                <a href="#">About us</a>
                            </li>
                            
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <!-- Header Meta Start -->
                    <div class="header-meta">
                        <div class="dropdown">
                            <a class="action" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="pe-7s-search"></i>
                            </a>

                            <div class="dropdown-menu dropdown-search">
                                <!-- Header Search Start -->
                                <div class="header-search">
                                    <form action="#">
                                        <input type="text" placeholder="Enter your search key ... " />
                                        <button>
                                            <i class="pe-7s-search"></i>
                                        </button>
                                    </form>
                                </div>
                                <!-- Header Search End -->
                            </div>
                        </div>

                        <div class="dropdown">
                            <a class="action" href="#" role="button" data-bs-toggle="dropdown"><i class="pe-7s-user"></i></a>

                            <ul class="dropdown-menu dropdown-profile">
                                <li><a href="/loadProfile">My Account</a></li>
                                <li><a href="login">Sign In</a></li>
                                <li><a href="register">Sign Up</a></li>
                                <li><a href="logout">Logout</a></li>
                            </ul>
                        </div>
                        <a class="action" href="/loadWishlist"><i class="pe-7s-like"></i></a>

                        <div >
                            <a class="action" href="/viewCart" role="button" >
                                <i class="pe-7s-cart"></i>
                                <span class="number">3</span>
                            </a>
                        </div>
                    </div>
                    <!-- Header Meta End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Header Mobile Start -->
    <div class="header-mobile section d-lg-none">
        <!-- Header Mobile top Start -->
        <div class="header-mobile-top header-sticky">
            <div class="container">
                <div class="row row-cols-3 gx-2 align-items-center">
                    <div class="col">
                        <!-- Header Toggle Start -->
                        <div class="header-toggle">
                            <button class="mobile-menu-open" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                        <!-- Header Toggle End -->
                    </div>
                    <div class="col">
                        <!-- Header Logo Start -->
                        <div class="header-logo text-center">
                            <a href="index.html"><img src="assets/images/logo.png" width="154" height="46" alt="Logo" /></a>
                        </div>
                        <!-- Header Logo End -->
                    </div>
                    <div class="col">
                        <!-- Header Action Start -->
                        <div class="header-meta">
                            <div class="dropdown">
                                <a class="action" href="#" role="button" data-bs-toggle="dropdown"><i class="pe-7s-user"></i></a>

                                <ul class="dropdown-menu dropdown-profile">
                                    <li>
                                        <a href="my-account.html">My Account</a>
                                    </li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="login.html">Sign In</a></li>
                                </ul>
                            </div>
                            <a class="action" href="cart.html">
                                <i class="pe-7s-shopbag"></i>
                                <span class="number">3</span>
                            </a>
                        </div>
                        <!-- Header Action End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Mobile top End -->

        <!-- Header Mobile Bottom End -->
        <div class="header-mobile-bottom">
            <div class="container">
                <!-- Header Search Start -->
                <div class="header-search">
                    <form action="#">
                        <input type="text" placeholder="Enter your search key ... " />
                        <button><i class="pe-7s-search"></i></button>
                    </form>
                </div>
                <!-- Header Search End -->
            </div>
        </div>
        <!-- Header Mobile Bottom End -->
    </div>
    <!-- Header Mobile End -->

    <!-- off Canvas Start -->
    
    <!-- Page Banner Section Start -->
    <div class="section " style="background-image: url(assets/images/page-banner.jpg)">
        <!-- page-banner-section       deleted class full image-->
        <div class="container">
            <!-- Page Banner Content End -->
            <div class="page-banner-content">
                <h2 class="title"><br></h2>

                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Checkout</li>
                    
                </ul>

                <br>
            </div>
            <!-- Page Banner Content End -->
        </div>
    </div>

    <!-- Checkout Section Start -->
    <div class="section section-padding ">
        <div class="container">

            <div class="checkout-info">
                <p class="info-header">
                    <i class="fa fa-exclamation-circle"></i> Have a coupon?
                    <a data-bs-toggle="collapse" href="#coupon">Click here to enter your code</a>
                </p>

                <div class="collapse" id="coupon">
                    <div class="card-body">
                        
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="single-form">
                                        <input id="couponCode" type="name" placeholder="Coupon code" style="text-transform:uppercase"/>
                                        <span id="couponError" style="color: rgb(188, 5, 5);"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="single-form">
                                        <button class="btn btn-primary btn-hover-dark" onclick="applyCoupon()">
                                            Coupon
                                        </button>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>

            <form id="checkoutForm" action="#" method="post">
                <div class="row">
                    <div class="col-lg-7">
                        <!-- Checkout Form Start -->
                        <div class="checkout-form">
                            <div class="checkout-title">
                                <h4 class="title">Shipping details</h4>
                            </div>
            
                            <!-- Shipping address options -->
                            <% if(addressData){%>

                                
                            <% let firstAddress = true; %>
                            <% addressData.forEach(element => { %>
                                <input type="radio" value="<%= element._id %>" name="shippingAddress" id="billing-address<%= element._id %>" <% if (firstAddress) { %>checked<% firstAddress = false; } %>>
                                <div class="address-option">
                                    <label for="billing-address1">
                                        <h4 class="account-title">Shipping address</h4>
                                        <h6 class="name"><%= element.name %></h6>
                                        <p style="width: 80%;">
                                            <%= element.address %>
                                        , <%= element.city %>,<%= element.state %></p>
                                        <p><%= element.pincode %></p>   
                                        <p><%= element.mobile %></p>
                                    </label>
                                    
                                    <div class="edit-btn">   
                                      <a  href="/loadEditAddress?_id=<%= element._id %>"><i class="fa fa-edit"></i></a>
                                    </div> 
                                    <div class="delete-btn">   
                                      <a  href="/deleteCheckoutAddress?_id=<%= element._id %>"><i class="fa fa-trash"></i></a>
                                    </div> 

                                </div>
                            <% }); %>
                            <%  } %>
                            
                            <div class="single-form">
                                <a class="btn btn-primary btn-hover-dark d-block" style="width: fit-content;" href="/loadAddress">Add Address</a>
                            </div>
                        </div>
                        <!-- Checkout Form End -->
                    </div>
            
                    <div class="col-lg-5">
                        <div class="checkout-order">
                            <div class="checkout-title">
                                <h4 class="title">Your Order</h4>
                            </div>
            
                            <div class="checkout-order-table table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="Product-name">Product</th>
                                            <th class="Product-price">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(cartDetails && cartDetails.products){ %>

                                            
                                        <% cartDetails.products.forEach((element) => { %>
                                            <tr>
                                                <td class="Product-name">
                                                    <p><%= element.productId.name %> × <%= element.quantity %>  <P id="outOfStock"></P></p>
                                                   
                                                </td>
                                                <td class="Product-price">
                                                    <p>$<%= element.totalAmount.toFixed(2) %></p>
                                                </td>
                                            </tr>
                                        <% }); %>
                                        <%} %>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="Product-name">
                                                <p>Subtotal</p>
                                            </td>
                                            <td class="Product-price subTotal">
                                                <p >$<%= cartTotal.toFixed(2) %></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Product-name">
                                                <p>Coupon Discount</p>
                                            </td>
                                            <td class="Product-price couponDiscount">
                                                <p>$0.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Product-name">
                                                <p>Shipping Charge</p>
                                            </td>
                                            <td class="Product-price">
                                                <ul class="shipping-list">
                                                    <div class="price">
                                                        <span class="old-price"><s> $40 </s></span>&nbsp;<span></span>
                                                        <span class="sale-price text-success">Free</span>
                                                    </div>
                                                    <!-- <li class="radio">
                                                        <input type="radio" name="shipping" id="radio2" />
                                                        <label for="radio2"><span></span> Free Shipping</label>
                                                    </li> -->
                                                    <!-- <li class="radio">
                                                        <input type="radio" name="shipping" id="radio3" />
                                                        <label for="radio3"><span></span> Local Pickup</label>
                                                    </li> -->
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Product-name">
                                                <p>Total</p>
                                            </td>
                                            <td class="total-price cartTotal">
                                                <p>$<%= cartTotal.toFixed(2) %></p>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
            
                            <div class="checkout-payment">
                                <ul>
                                    <li>
                                        <div class="single-payment">
                                            <div class="payment-radio radio">
                                                <input type="radio" name="paymentOption" id="bank" value="wallet">
                                                <label for="bank"><span></span> Wallet</label>
                                                
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-payment">
                                            <div class="payment-radio radio">
                                                <input type="radio" name="paymentOption" id="check" value="RazorPay">
                                                <label for="check"><span></span> RazorPay</label>
                                                
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-payment">
                                            <div class="payment-radio radio">
                                                <input type="radio" name="paymentOption" id="cash" value="Cash on Delivery" checked>
                                                <label for="cash"><span></span> Cash on Delivery</label>
                                
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <br>

                                <% if (addressData && addressData.length > 0) { %>
                                    <div class="">
                                        <button class="btn btn-primary btn-hover-dark d-block"  id="placeOrder">Place Order</button>
                                        
                                    </div>
                                <% } else { %>
                                    <div class="">
                                        <button class="btn btn-primary btn-hover-dark d-block"  id="placeOrder" disabled>Place Order</button>
                                        
                                        <p class="text-danger">Please add an address to proceed.</p>
                                    </div>
                                <% } %>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
    <!-- Checkout Section End -->

    <!-- Footer Section Start -->
    <div class="section footer-section">
        <!-- Footer Top Start -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-md-4">
                        <!-- Footer Logo Start -->
                        <div class="footer-logo">
                            <a href="index.html"><img src="assets/images/logo.png" width="154" height="46" alt="Logo" /></a>
                        </div>
                        <!-- Footer Logo End -->
                    </div>
                    <div class="col-xl-5 col-md-8">
                        <!-- Footer Contact & Payment End -->
                        <div class="footer-contact-payment">
                            <div class="footer-contact">
                                <div class="contact-icon">
                                    <img src="assets/images/icon/icon-4.png" width="39" height="46" alt="Icon" />
                                </div>

                                <div class="contact-content">
                                    <h6 class="title">Call Us:</h6>
                                    <p>00 123 456 789</p>
                                </div>
                            </div>
                            <div class="footer-payment">
                                <img src="assets/images/payment.png" width="192" height="21" alt="Payment" />
                            </div>
                        </div>
                        <!-- Footer Contact & Payment End -->
                    </div>
                    <div class="col-xl-5">
                        <!-- Footer Subscribe End -->
                        <div class="footer-subscribe">
                            <span class="title">Subscribe Now :</span>
                            <div class="subscribe-form">
                                
                                    <input type="text" placeholder="Your Mail" />
                                    <button>
                                        <i class="pe-7s-paper-plane"></i>
                                    </button>
                                
                            </div>
                        </div>
                        <!-- Footer Subscribe End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Top End -->

        <!-- Footer Widget Section Start -->
        <div class="footer-widget-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Customer Service</h4>

                            <ul class="footer-link">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns-Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Information</h4>

                            <ul class="footer-link">
                                <li><a href="about.html">About Furbar</a></li>
                                <li>
                                    <a href="shop-grid-4-column.html">How to Shop</a>
                                </li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="login.html">Log in</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">My Account</h4>

                            <ul class="footer-link">
                                <li><a href="register.html">Sign In</a></li>
                                <li><a href="cart.html">View Cart</a></li>
                                <li><a href="wishlist.html">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-2 col-md-5 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Our Stores</h4>

                            <ul class="footer-link">
                                <li><a href="#">New aYork</a></li>
                                <li><a href="#">London SF</a></li>
                                <li><a href="#">Cockfosters BP</a></li>
                                <li><a href="#">Los Angeles</a></li>
                                <li><a href="#">Chicago</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-3 col-md-7">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">About Us</h4>

                            <div class="widget-about">
                                <p>
                                    Lorem ipsum dolor sit amet consect adipisicing
                                    elit sed do eiusmod temp incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim
                                </p>
                            </div>
                            <div class="widget-social">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-tumblr"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Widget End -->

        <!-- Footer Copyright End -->
        <div class="copyright">
            <div class="container">
                <div class="copyright-text">
                    <p>
                        &copy; 2023 <span> Furbar </span> Made with
                        <i class="fa fa-heart" aria-hidden="true"></i> by
                        <a href="#">codecarnival</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- Footer Copyright End -->
    </div>
    <!-- Footer Section End -->

    <!--Back To Start-->
    <button id="backBtn" class="back-to-top"><i class="pe-7s-angle-up"></i></button>
    <!--Back To End-->
    <!-- JS
    ============================================ -->

    <!-- Modernizer & jQuery JS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    
    <script>
        
        function applyCoupon(){
            console.log('wer')
            const couponCode=document.getElementById('couponCode').value 
            const totalPriceElement = document.querySelector('.subTotal p');
            const subTotal = parseFloat(totalPriceElement.textContent.trim().substring(1));
            console.log(subTotal)
            console.log(couponCode)
            axios.post('/couponValidate',{couponCode,subTotal})
            .then(function(res){
                console.log(res.data)
                const {couponDiscount,cartTotal,message}=res.data
                if(couponDiscount && cartTotal){
                    const couponDiscountElement = document.querySelector('.couponDiscount p');
                    couponDiscountElement.innerHTML=`$ ${couponDiscount.toFixed(2)}`
                    const cartTotalElement = document.querySelector('.cartTotal p');
                    cartTotalElement.innerHTML=`$ ${cartTotal.toFixed(2)}`
                }else{
                    console.log(message)
                    var couponError = document.getElementById('couponError');
                    couponError.textContent =message;
                }
            })
            .catch(function (error) {
            console.error('Error:', error);
    });
        }
    </script>

    <script>
      
      function placeOrder() {
       console.log('222222222222222222222')
       console.log('4444444')
        const selectedAddress = document.querySelector('input[name="shippingAddress"]:checked').value;
        const selectedPaymentOption = document.querySelector('input[name="paymentOption"]:checked').value;
        const totalPriceElement = document.querySelector('.cartTotal p');
        
        const cartTotal = parseFloat(totalPriceElement.textContent.trim().substring(1));
        console.log('ddddddddddd',cartTotal)

        console.log("Selected shipping address:", selectedAddress);
        console.log("Selected payment option:", selectedPaymentOption);

        if (selectedPaymentOption === "RazorPay") {
            console.log('suiiii');

            event.preventDefault();

            axios.post('/checkout', { selectedAddress, selectedPaymentOption,cartTotal })
            .then(function (response) {
                console.log(response.data);
                if (response.data.session==false) {
                                console.log('1111');  
                                window.location='/notLogin'

                            } else {
                                console.log(response.data.response)
                                if(response.data.response){
                                    const productContainer = document.getElementById('outOfStock');
                                    let productHTML = '';
                                    productHTML += `
                                <p class="text-danger">currently unavailable</p>
                                    `;
                                productContainer.innerHTML = productHTML;   
                                    console.log('xxxxxxxxxxxxxxxxxxxxxx')


                                }else{
                const { order, KEY_ID, cartTotal } = response.data;
                console.log(KEY_ID);
                console.log(order.id);

                if (response.data) {
                    if (response.data.session === false) {
                        console.log('1111');
                        window.location = '/notLogin';
                    } else {
                        console.log('else');
                        var options = {
                            "key": KEY_ID,
                            "amount": order.amount,
                            "currency": "INR",
                            "name": "prinDecor",
                            "description": "Test Transaction",
                            "image": "assets/images/favicon.png",
                            "order_id": order.id,
                            "handler": function (response) {
                                console.log('ready', response.razorpay_signature);
                                console.log(response.razorpay_payment_id);
                                
                                axios.post('/checkout', {
                                    razorpay_payment_id: response.razorpay_payment_id,
                                    razorpay_order_id: response.razorpay_order_id,
                                    razorpay_signature: response.razorpay_signature 
                                })
                                .then(function (response) {
                                    console.log(response.data);
                                    
                                })
                                .catch(function (error) {
                                    console.error('Error:', error);
                                });
                                window.location='/viewOrder'
                            },
                            "prefill": {
                                "name": "Gaurav Kumar",
                                "email": "gaurav.kumar@example.com",
                                "contact": "9000090000"
                            },
                            "notes": {
                                "address": "Razorpay Corporate Office"
                            },
                            "theme": {
                                "color": "#3399cc"
                            }
                        };
                        var rzp1 = new Razorpay(options);
                        rzp1.on('payment.failed', function (response) {
                            // alert(response.error.code);
                            alert(response.error.description);
                            // alert(response.error.source);
                            // alert(response.error.step);
                            // alert(response.error.reason);
                            // alert(response.error.metadata.order_id);
                            // alert(response.error.metadata.payment_id);

                        });
                        
                        rzp1.open();
                    }
                }
            }
        }
    })
    .catch(function (error) {
        console.error('Error:', error);
    });


    }else if (selectedPaymentOption==="Cash on Delivery") {
            event.preventDefault();


        axios.post('/checkout', { selectedAddress, selectedPaymentOption,cartTotal})
        .then(function(response) {  
        console.log(response.data);
        if(response.data){
                    if (response.data.session==false) {
                        console.log('1111');  
                        window.location='/notLogin'

                    } else {
                        console.log(response.data.response)
                        if(response.data.response){
                            const productContainer = document.getElementById('outOfStock');
                            let productHTML = '';
                            productHTML += `
                           <p class="text-danger">currently unavailable</p>
                             `;
                           productContainer.innerHTML = productHTML;   
                            console.log('xxxxxxxxxxxxxxxxxxxxxx')


                        }else{
                            window.location='/viewOrder'
                        }
                    }
                   
                }
        })
        .catch(function(error) {
        console.error('Error:', error);
        })
        } else {
            
        }
        
    }

                
    

    const placeOrderBtn = document.getElementById('placeOrder');
    placeOrderBtn.addEventListener('click', placeOrder);


    
      
    </script>


    <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/plugins/popper.min.js"></script>
    <script src="assets/js/plugins/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/ajax-contact.js"></script>
    <script src="assets/js/plugins/odometer.min.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="assets/js/plugins/jquery.zoom.min.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

</body>


<!-- Mirrored from htmldemo.net/furbar-1/furbar/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 16:16:17 GMT -->
</html>