<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from htmldemo.net/furbar-1/furbar/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 16:16:18 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Furbar - Furniture eCommerce Bootstrap 5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png" />

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/plugins/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="assets/css/plugins/font-awesome.min.css" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/odometer.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/ion.rangeSlider.min.css" />

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
    <link rel="stylesheet" href="assets/css/style.min.css" /><link href="assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    <style>
	.hh-grayBox {
	background-color: #F8F8F8;
	margin-bottom: 20px;
	padding: 35px;
  margin-top: 20px;
}
.pt45{padding-top:45px;}
.order-tracking{
	text-align: center;
	width: 20.33%;
	position: relative;
	display: block;
}
.order-tracking .is-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 24px;
	width: 24px;
	border: 0px solid #AFAFAF;
	background-color: #393939;
	margin: 0 auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	z-index: 2;
}
.order-tracking .is-complete:after {
	display: block;
	position: absolute;
	content: '';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border: 0px solid #AFAFAF;
	border-width: 0px 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
.order-tracking.completed .is-complete{
	border-color: #03c74e;
	border-width: 0px;
	background-color: #03c74e;
}
.order-tracking.completed .is-complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	width: 7px;
	left: 11px;
	opacity: 1;
}
.order-tracking p {
	color: #A4A4A4;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 20px;
}
.order-tracking p span{font-size: 14px;}
.order-tracking.completed p{color: #000;}
.order-tracking::before {
	content: '';
	display: block;
	height: 3px;
	width: calc(100% - 40px);
	background-color: #393939;
	top: 13px;
	position: absolute;
	left: calc(-50% + 20px);
	z-index: 0;
}
.order-tracking:first-child:before{display: none;}
.order-tracking.completed:before{background-color: #03c74e;}


        /* Style for the "Edit Address" button */
        .edit-btn {
            display: inline-block;
            background-color: #637763;
            color: white;
            padding: 8px 20px;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        
        .edit-btn:hover {
            background-color: #4c544d;
        }
        
        /* Adjust the icon size */
        .edit-btn i {
            margin-right: 5px;
        }
        
        .delete-btn {
            display: inline-block;
            background-color: #637763;
            color: white;
            padding: 8px 20px;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        
        .delete-btn:hover {
            background-color: #4c544d;
        }
        
        /* Adjust the icon size */
        .delete-btn i {
            margin-right: 5px;
        }
        
        /* Style for the radio button container */
        .address-option {
            position: relative;
            border: 1px solid #ddd;
            width:350px;
            padding: 10px;
            margin-bottom: 15px;
        }
        
        /* Style for the radio button */
        .address-option input[type="radio"] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            top: 50%;
            transform: translateY(-50%);
        }
        
        /* Style for the radio button label */
        .address-option label {
            cursor: pointer;
            padding-left: 30px;
            vertical-align: middle; /* Align text vertically with the radio button */
        }
        
        /* Custom radio button styles */
        .address-option input[type="radio"] {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid #ccc;
            border-radius: 50%;
            outline: none;
        }
        
        .address-option input[type="radio"]:checked {
            background-color: #007bff;
            border-color: #007bff;
        }
        
        /* Style for the edit button */
        .address-option .edit-btn {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>


<body>
    <!-- Header Start  -->
    <div class="header-area header-sticky d-none d-lg-block">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <!-- Header Logo Start -->
                    <div class="header-logo">
                        <a href="index.html"><img src="assets/images/logo.png" width="154" height="46" alt="Logo" /></a>
                    </div>
                    <!-- Header Logo End -->
                </div>
                <div class="col-lg-6">
                    <div class="header-menu">
                        <ul class="nav-menu">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li><a href="/loadShop">Shop</a></li>
                            <li>
                                <a href="loadProduct">Products</a>
                            </li>
                            <li>
                                <a href="#">About us</a>
                            </li>
                            
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <!-- Header Meta Start -->
                    <div class="header-meta">
                        <div class="dropdown">
                            <a class="action" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="pe-7s-search"></i>
                            </a>

                            <div class="dropdown-menu dropdown-search">
                                <!-- Header Search Start -->
                                <div class="header-search">
                                    <form action="#">
                                        <input type="text" placeholder="Enter your search key ... " />
                                        <button>
                                            <i class="pe-7s-search"></i>
                                        </button>
                                    </form>
                                </div>
                                <!-- Header Search End -->
                            </div>
                        </div>

                        <div class="dropdown">
                            <a class="action" href="#" role="button" data-bs-toggle="dropdown"><i class="pe-7s-user"></i></a>

                            <ul class="dropdown-menu dropdown-profile">
                                <li><a href="/loadProfile">My Account</a></li>
                                <li><a href="login">Sign In</a></li>
                                <li><a href="register">Sign Up</a></li>
                                <li><a href="logout">Logout</a></li>
                            </ul>
                        </div>
                        <a class="action" href="/loadWishlist"><i class="pe-7s-like"></i></a>

                        <div >
                            <a class="action" href="/viewCart" role="button" >
                                <i class="pe-7s-cart"></i>
                                <span class="number">3</span>
                            </a>
                        </div>
                    </div>
                    <!-- Header Meta End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Header Mobile Start -->
    <div class="header-mobile section d-lg-none">
        <!-- Header Mobile top Start -->
        <div class="header-mobile-top header-sticky">
            <div class="container">
                <div class="row row-cols-3 gx-2 align-items-center">
                    <div class="col">
                        <!-- Header Toggle Start -->
                        <div class="header-toggle">
                            <button class="mobile-menu-open" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                        <!-- Header Toggle End -->
                    </div>
                    <div class="col">
                        <!-- Header Logo Start -->
                        <div class="header-logo text-center">
                            <a href="index.html"><img src="assets/images/logo.png" width="154" height="46" alt="Logo" /></a>
                        </div>
                        <!-- Header Logo End -->
                    </div>
                    <div class="col">
                        <!-- Header Action Start -->
                        <div class="header-meta">
                            <div class="dropdown">
                                <a class="action" href="#" role="button" data-bs-toggle="dropdown"><i class="pe-7s-user"></i></a>

                                <ul class="dropdown-menu dropdown-profile">
                                    <li>
                                        <a href="my-account.html">My Account</a>
                                    </li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="login.html">Sign In</a></li>
                                </ul>
                            </div>
                            <a class="action" href="cart.html">
                                <i class="pe-7s-shopbag"></i>
                                <span class="number">3</span>
                            </a>
                        </div>
                        <!-- Header Action End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Mobile top End -->

        <!-- Header Mobile Bottom End -->
        <div class="header-mobile-bottom">
            <div class="container">
                <!-- Header Search Start -->
                <div class="header-search">
                    <form action="#">
                        <input type="text" placeholder="Enter your search key ... " />
                        <button><i class="pe-7s-search"></i></button>
                    </form>
                </div>
                <!-- Header Search End -->
            </div>
        </div>
        <!-- Header Mobile Bottom End -->
    </div>
    <!-- Header Mobile End -->

    <!-- off Canvas Start -->
    
    <!-- Page Banner Section Start -->
    <div class="section " style="background-image: url(assets/images/page-banner.jpg)">
        <!-- page-banner-section       deleted class full image-->
        <div class="container">
            <!-- Page Banner Content End -->
            <div class="page-banner-content">
                <h2 class="title"><br></h2>

                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Checkout</li>
                    
                </ul>

                <br>
            </div>
            <!-- Page Banner Content End -->
        </div>
    </div>

    <!-- Page Banner Section End -->

    <!-- My Account Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row gy-4">
                <div class="col-xl-3 col-md-4">
                    <!-- My Account Menu Start -->
                    <div class="my-account-menu">
                        <ul class="nav account-menu-list flex-column">
                            <li>
                                <a class="active" data-bs-toggle="pill" href="#pills-dashboard"><i class="fa fa-tachometer"></i>
                                    Dashboard</a>
                            </li>
                            <li>
                                <a data-bs-toggle="pill" href="#pills-order"><i class="fa fa-shopping-cart"></i>
                                    Order</a>
                            </li>
                            
                            <!-- <li>
                                <a data-bs-toggle="pill" href="#pills-payment"><i class="fa fa-credit-card"></i>
                                    Payment Method</a>
                            </li> -->
                            <li>
                                <a data-bs-toggle="pill" href="#pills-address"><i class="fa fa-map-marker"></i>
                                    Address</a>
                            </li>
                            <li>
                                <a data-bs-toggle="pill" href="#pills-account"><i class="fa fa-user"></i> Account
                                    Details</a>
                            </li>
                            <li>
                                <a data-bs-toggle="pill" href="#pills-coupons"><i class="fa fa-ticket"></i> Coupons</a>
                            </li>
                            <li>
                                <a data-bs-toggle="pill" href="#pills-password"><i class="fa fa-lock"></i> Change Password</a>
                            </li>
                            <li>
                                <a href="/logout"><i class="fa fa-sign-out"></i>
                                    Logout</a>
                            </li>
                        </ul>
                    </div>
                    <!-- My Account Menu End -->
                </div>
                <div class="col-xl-9 col-md-8">
                    <!-- Tab content start -->
                    <div class="tab-content my-account-tab">
                        <div class="tab-pane fade show active" id="pills-dashboard">
                            <div class="my-account-dashboard account-wrapper">
                                <h4 class="account-title">Dashboard</h4>
                                <div class="welcome-dashboard">
                                    <p>
                                        Hello,
                                        <strong>Alex Tuntuni</strong>
                                    </p>
                                </div>
                                
                            </div>
                            <div class="col-lg-5 col-md-6 col-sm-12 col-12 " >
                                <form action="/">
                                    <div class="page-content"> 
                                        <div class="container-fluid">
                                            <% if(walletData) {%> 
                                            
                                            
                                            <div class="row d-flex justify-content-center mt-3">
                                                                                                
                                                <div class="col-xl mt-5">
                                                    <div class="card border shadow" style="border-radius: 0 !important;">
                                                            <div class="row row-cols-6 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
                                                                <div class="col-xl-12">
                                                                    <div class="card card-user">
                                                                        <!-- <div class="card-header">
                                                                            <img class="img-md img-avatar" src="assets/imgs/people/avatar-1.png" alt="User pic" />
                                                                        </div> -->
                                                                        <div class="card-body">
                                                                            <h5 class="card-title ">My Wallet</h5>
                                                                            <h5 class="card-title">Balance :<%= walletData.walletAmount %> </h5>
                                                                            <!-- <h5 class="card-title "></h5> -->
                                                                            <div class="card-text text-muted">
                                                                                <p class="m-0"></p>
                                                                                <!-- <p>mary90@example.com</p> -->
                                                                                <a href="/" class="btn btn-sm btn-hover-primary
                                                                                 text-success rounded font-sm mt-15">Continue Shopping</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                              
                                                            </div>
                                                </div>
                                            </div>

                                            <!-- end card -->
                                        </div>
                                            <%} %>
                                    </div>
                                </div>
                            </form>
                           
                                  </div>
                        </div>

                        <div class="tab-pane fade" id="pills-order" style="width: 1100px;;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 " >
                                <form action="/">
                                    <div class="page-content"> 
                                        <div class="container-fluid">
                                            
                                            
                                            <div class="row d-flex justify-content-center mt-3">
                                                
                                                
                                                <div class="col-xl-12 mt-5">
                                                    <div class="card border shadow mb-3" style="border-radius: 0 !important;">
                                                        <% if(orderDetails) {%>
                               

                                                            <% orderDetails.forEach((element) => { %>
                                                            <% element.products.forEach((products) => { %>
                                                        
                                                        <div class="card-body ">
                                                            <article class="itemlist">
                                                                <div class="row align-items-center">
                                                                    <div class="col-lg-2 col-sm-4 col-8 flex-grow-1 col-name">
                                                                        <a class="itemside" href="#">
                                                                            <div class="left">
                                                                                <img src="/productImage/<%=products.productId.img[0] %>" class="img-sm img-thumbnail" alt="Item" />
                                                                            </div> 
                                                                            <div class="info">
                                                                                <h6 class="mb-0"><%= products.productId.name %></h6>      
                                                                            </div>  
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-lg col-sm-2 col-4 col-price"><span>$<%= products.orderedPrice*products.quantity %></span></div>
                            
                                                                   
                                                                    <div class="col-lg col-sm-2 col-4 col-status" >
                                                                        <span id="cancelOrder" class="badge rounded-pill alert-success"><%= products.orderStatus %></span>
                                                                    </div>
                                                                    <div class="col-lg-2 col-sm-2 col-4 col-date">
                                                                        <span>09-12-2024</span>
                                                                    </div>
                                                                    <div class="col-lg col-sm-2 col-4 col-date">
                                                                        <span class="badge rounded-pill alert-success">cod</span>
                                                                    </div>
                            
                                                                    <div class="col-lg-1 col-sm-2 col-4 col-action text-end">
                                                                        <a href="/orderDetails?productId=<%= products._id %>&orderId=<%= element._id %>" class="btn btn-sm font-sm rounded btn-brand">View <br> details</a>
                                                                        
                                                                    </div>
                                                                    <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                                                       
                                                                        <a href="" class="btn btn-sm font-sm rounded btn-danger" onclick="cancelOrder('<%= products.productId._id %>','<%= element._id%>')">Cancel <br> order</a>
                                                                    </div>
                                                                </div>
                                                                    <!-- row .// -->
                                                                </article>
                                                                
                                                                <!-- itemlist  .// -->
                                                                
                                                                <!-- itemlist  .// -->
                                                            </div>
                                                            <% }); %>
                                                            <% }); %>
                                                            <%} %>
                                                </div>
                                            </div>
                                            
                        
                                            <!-- end card -->
                                        </div>
                                        
                                    
                        
                                        
                                    </div>
                                </div>
                            </form>
                           
                                  </div>
                        </div>

                        <div class="tab-pane fade" id="pills-download">
                            <div class="my-account-download account-wrapper">
                                <h4 class="account-title">Download</h4>
                                <div class="account-table text-center table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="name">
                                                    Product
                                                </th>
                                                <th class="date">Date</th>
                                                <th class="status">
                                                    Expire
                                                </th>
                                                <th class="action">
                                                    Download
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Mostarizing Oil</td>
                                                <td>Aug 22, 2020</td>
                                                <td>Yes</td>
                                                <td>
                                                    <a href="#">Download File</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Katopeno Altuni</td>
                                                <td>July 22, 2020</td>
                                                <td>Never</td>
                                                <td>
                                                    <a href="#">Download File</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        
                        <div class="tab-pane fade" id="pills-coupons" style="width: 1100px;;">
                            <div class="col-lg-5 col-md-6 col-sm-12 col-12 " >
                                <form action="/">
                                    <div class="page-content"> 
                                        <div class="container-fluid">
                                            <% if(couponData) {%>
                                   
    
                                                <% couponData.forEach((element) => { %>
                                            
                                            
                                            <div class="row d-flex justify-content-center mt-3">
                                                
                                                
                                                <div class="col-xl mt-5">
                                                    <div class="card border shadow" style="border-radius: 0 !important;">
                
                                                           
                                                 
                                                            <div class="row row-cols-6 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
                                                                <div class="col-xl-12">
                                        

                                                                    <div class="card card-user">
                                                                        <!-- <div class="card-header">
                                                                            <img class="img-md img-avatar" src="assets/imgs/people/avatar-1.png" alt="User pic" />
                                                                        </div> -->
                                                                        <div class="card-body">
                                                                            <h5 class="card-title "><%= element.name %></h5>
                                                                            <h5 class="card-title "><%= element.code %></h5>
                                                                            <!-- <h5 class="card-title "></h5> -->
                                                                            <div class="card-text text-muted">
                                                                                <p class="m-0"><%= element.description %></p>
                                                                                <p>mary90@example.com</p>
                                                                                <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">Copy Code</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                              
                                                            </div>
                                                          
                                                            
                                                            <!-- row.// -->
                                                        
                                                </div>
                                            </div>
                                            
                        
                                            <!-- end card -->
                                        </div>
                                        
                                    
                        
                                        
                                        <% }); %>
                                                                    <%} %>
                                    </div>
                                </div>
                            </form>
                           
                                  </div>
                        </div>

                        <div class="tab-pane fade" id="pills-address">
                            <div class="my-account-address account-wrapper">
                                <div class="row">
                                    <% if (addressData) {%>
                                        
                                        
                                    <% addressData.forEach(element => { %>
                                    <div class="col-md-6">
                                        <div class="address-option">
                                            <label for="billing-address1">
                                                <h4 class="account-title">Shipping address</h4>
                                                <h6 class="name"><%= element.name %></h6>
                                                <p style="width: 80%;">
                                                    <%= element.address %>
                                                , <%= element.city %>,<%= element.state %></p>
                                                <p><%= element.pincode %></p>   
                                                <p><%= element.mobile %></p>
                                            </label>
                                            
                                            <div class="edit-btn">   
                                              <a  href="/loadEditAddress?_id=<%= element._id %>"><i class="fa fa-edit"></i></a>
                                            </div> 
                                            <div class="delete-btn">   
                                              <a  href="/deleteAddress?_id=<%= element._id %>"><i class="fa fa-trash"></i></a>
                                            </div> 
                                           

                                            
                                            
                                        
                                        </div>
                                    </div>

                                    <% }); %>
                                    <% } %>
                                    
                                    </div>
                                    <div class="single-form">
                                        <a class="btn btn-primary btn-hover-dark d-block" style="width: fit-content;" href="/loadAddress">add address</a>
                                    </div>
                                    
                                    
                                
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-account">
                            <div class="my-account-details account-wrapper">
                                <h4 class="account-title">
                                    Account Details
                                </h4>

                                <div class="account-details">
                                    
                                    <div class="row">
                                        
                                        <% if(userData) {%>
                                            

                                        <div class="col-md-6">
                                            <form action="/loadProfile" method="post">
                                            <div class="single-form">
                                                <!-- <p>First name</p> --> 
                                                <input type="text" value="<%= userData.fName %>" name="fName" id="fName"/>
                                                <span id="fNameError" style="color: rgb(188, 5, 5);"></span>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <input type="text" value="<%= userData.lName %>" name="lName" id="lName" />
                                                <span id="lNameError" style="color: rgb(188, 5, 5);"></span>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <input type="text" value="<%= userData.email %>" name="email" id="email"/>
                                                <span id="emailError" style="color: rgb(188, 5, 5);"></span>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <input type="text" value="<%= userData.mobile %>" name="mobile" id="mobile"/>
                                                <span id="mobileError" style="color: rgb(188, 5, 5);"></span>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <button type="submit" class="btn btn-primary btn-hover-dark"  id="updateUser" disabled>
                                                    Save Changes
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                        <% }%>
                                        
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-password">
                            <div class="my-account-details account-wrapper">
                                <h4 class="account-title">
                                   Change Password
                                </h4>

                                <div class="account-details">
                                    
                                    <div class="row">
                                        <form action="/changePassword" method="post">
                                            <div class="col-md-12">
                                               
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-form">
                                                    <input type="password" id="password" placeholder="Current Password" name="currentPassword" required/>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-form">
                                                    <input type="password" id="newPassword" placeholder="New Password" name="password" required/>
                                                    <span id="passwordError" style="color: rgb(188, 5, 5);"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-form">
                                                    <input type="password" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword" required />
                                                    <span id="confirmPasswordError" style="color: rgb(188, 5, 5);"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-form">
                                                    <button type="submit" id="submitButton" class="btn btn-primary btn-hover-dark" disabled>change password</button>
                                                </div>
                                            </div>
                                        </form>
                                        
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- My Account Section End -->

    <!-- Footer Section Start -->
    <div class="section footer-section">
        <!-- Footer Top Start -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-md-4">
                        <!-- Footer Logo Start -->
                        <div class="footer-logo">
                            <a href="index.html"><img src="assets/images/logo.png" width="154" height="46" alt="Logo" /></a>
                        </div>
                        <!-- Footer Logo End -->
                    </div>
                    <div class="col-xl-5 col-md-8">
                        <!-- Footer Contact & Payment End -->
                        <div class="footer-contact-payment">
                            <div class="footer-contact">
                                <div class="contact-icon">
                                    <img src="assets/images/icon/icon-4.png" width="39" height="46" alt="Icon" />
                                </div>

                                <div class="contact-content">
                                    <h6 class="title">Call Us:</h6>
                                    <p>00 123 456 789</p>
                                </div>
                            </div>
                            <div class="footer-payment">
                                <img src="assets/images/payment.png" width="192" height="21" alt="Payment" />
                            </div>
                        </div>
                        <!-- Footer Contact & Payment End -->
                    </div>
                    <div class="col-xl-5">
                        <!-- Footer Subscribe End -->
                        <div class="footer-subscribe">
                            <span class="title">Subscribe Now :</span>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Your Mail" />
                                    <button>
                                        <i class="pe-7s-paper-plane"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- Footer Subscribe End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Top End -->

        <!-- Footer Widget Section Start -->
        <div class="footer-widget-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Customer Service</h4>

                            <ul class="footer-link">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns-Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Information</h4>

                            <ul class="footer-link">
                                <li><a href="about.html">About Furbar</a></li>
                                <li>
                                    <a href="shop-grid-4-column.html">How to Shop</a>
                                </li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="login.html">Log in</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">My Account</h4>

                            <ul class="footer-link">
                                <li><a href="register.html">Sign In</a></li>
                                <li><a href="cart.html">View Cart</a></li>
                                <li><a href="wishlist.html">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-2 col-md-5 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Our Stores</h4>

                            <ul class="footer-link">
                                <li><a href="#">New aYork</a></li>
                                <li><a href="#">London SF</a></li>
                                <li><a href="#">Cockfosters BP</a></li>
                                <li><a href="#">Los Angeles</a></li>
                                <li><a href="#">Chicago</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-3 col-md-7">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">About Us</h4>

                            <div class="widget-about">
                                <p>
                                    Lorem ipsum dolor sit amet consect adipisicing
                                    elit sed do eiusmod temp incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim
                                </p>
                            </div>
                            <div class="widget-social">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-tumblr"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Widget End -->

        <!-- Footer Copyright End -->
        <div class="copyright">
            <div class="container">
                <div class="copyright-text">
                    <p>
                        &copy; 2023 <span> Furbar </span> Made with
                        <i class="fa fa-heart" aria-hidden="true"></i> by
                        <a href="#">codecarnival</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- Footer Copyright End -->
    </div>
    <!-- Footer Section End -->

    <!--Back To Start-->
    <button id="backBtn" class="back-to-top"><i class="pe-7s-angle-up"></i></button>
    <!--Back To End-->
    <!-- JS
    ============================================ -->

    <!-- Modernizer & jQuery JS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        async function cancelOrder(productId,orderId) {
            try {
                console.log(productId)
                    axios.post('/cancelOrder', { productId,orderId})
                    .then(function(response) {  
                    console.log(response.data);
                                    console.log(response.data)
                                
                            const productContainer = document.getElementById('cancelOrder');
                            let productHTML = '';
                            productHTML += `
                             <span id="cancelOrder" class="badge rounded-pill alert-danger">cancelled</span>    
                             `;
                             productContainer.innerHTML = productHTML;   
                                        console.log('xxxxxxxxxxxxxxxxxxxxxx')
                    })
                    .catch(function(error) {
                    console.error('Error:', error);
                    })
        } catch (error) {
             console.error('Error fetching:', error);
         }
     }
    </script>

    
<script>
    function checkValidity() {
        var fNameError = document.getElementById('fNameError').textContent;
        var lNameError = document.getElementById('lNameError').textContent;
        var emailError = document.getElementById('emailError').textContent;
        var mobileError = document.getElementById('mobileError').textContent;

        var updateUser = document.getElementById('updateUser');

        if (
            fNameError === "" &&
            lNameError === "" &&
            mobileError === "" &&
            emailError === ""
        ) {
            updateUser.disabled = false;
        } else {
            updateUser.disabled = true;
        }
    }

    function validateFname() {
        var fName = document.getElementById('fName').value.trim();
        var fNameError = document.getElementById('fNameError');

        var namePattern = /^[a-zA-Z][a-zA-Z\s]*$/;

        if (!fName || !namePattern.test(fName)) {
            fNameError.textContent = 'Invalid name provided';
        } else {
            fNameError.textContent = '';
        }
        
    }

    function validateLname() {
        var lName = document.getElementById('lName').value.trim();
        var lNameError = document.getElementById('lNameError');

        var namePattern = /^[a-zA-Z][a-zA-Z\s]*$/;

        if (!lName || !namePattern.test(lName)) {
            lNameError.textContent = 'Invalid name provided';
        } else {
            lNameError.textContent = '';
        }
       
    }

    function validateMobile() {
        var mobileNumber = document.getElementById('mobile').value.trim();
        var mobileError = document.getElementById('mobileError');

        var mobilePattern = /^[0-9]{10}$/;

        if (!mobileNumber || !mobilePattern.test(mobileNumber)) {
            mobileError.textContent = 'Enter a valid 10-digit mobile number';
        } else {
            mobileError.textContent = '';
        }
 
    }

    function validateEmail() {
        var email = document.getElementById('email').value.trim();
        var emailError = document.getElementById('emailError');

        var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        if (!email || !emailPattern.test(email)) {
            emailError.textContent = 'Enter a valid email address';
        } else {
            emailError.textContent = '';
        }

    }

    document.getElementById('fName').addEventListener('input',  function() {
                validateFname();
                checkValidity(); 
        });

    document.getElementById('lName').addEventListener('input',  function() {
                validatelName();
                checkValidity(); 
        });
    document.getElementById('mobile').addEventListener('input',  function() {
                validateMobile();
                checkValidity(); 
        });
    document.getElementById('email').addEventListener('input',  function() {
                validateEmail();
                checkValidity(); 
        });


    checkValidity();
</script>




 
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('newPassword').addEventListener('input', function() {
                validatePassword();
                checkValidity(); 
            });
    
            document.getElementById('confirmPassword').addEventListener('input', function() {
                validateConfirmPassword();
                checkValidity(); 
            });
        });
    
        function checkValidity() {
            var password = document.getElementById('newPassword').value.trim();
            var confirmPassword = document.getElementById('confirmPassword').value.trim();
            var passwordError = document.getElementById('passwordError').textContent;
            var confirmPasswordError = document.getElementById('confirmPasswordError').textContent;
            var submitButton = document.getElementById('submitButton');
    
            if (password.length >= 8 && password === confirmPassword && passwordError === "" && confirmPasswordError === "") {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
        }
    
        function validatePassword() {
            var password = document.getElementById('newPassword').value.trim();
            var passwordError = document.getElementById('passwordError');
    
            if (password.length < 8) {
                passwordError.textContent = 'Password must be at least 8 characters long';
            } else {
                passwordError.textContent = '';
            }
        }
    
        function validateConfirmPassword() {
            var password = document.getElementById('newPassword').value.trim();
            var confirmPassword = document.getElementById('confirmPassword').value.trim();
            var confirmPasswordError = document.getElementById('confirmPasswordError');
    
            if (password !== confirmPassword) {
                confirmPasswordError.textContent = 'Passwords do not match';
            } else {
                confirmPasswordError.textContent = '';
            }
        }
    </script>
    <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/plugins/popper.min.js"></script>
    <script src="assets/js/plugins/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/ajax-contact.js"></script>
    <script src="assets/js/plugins/odometer.min.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="assets/js/plugins/jquery.zoom.min.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

</body>


<!-- Mirrored from htmldemo.net/furbar-1/furbar/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 16:16:18 GMT -->
</html>